{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>{% block title %}event management{% endblock %}</title>
	<!-- tailwind via play cdn: change -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
	<link rel="stylesheet" href="{% static 'css/output.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">	
</head>
<body>
	{% comment %}Set dashboard_url based on user's group{% endcomment %}		
	{% if request.user.is_authenticated and request.user.groups.first %}		
	{% if request.user.groups.first.name == 'Admin' %}
		{% url 'admin-dashboard' as dashboard_url %}
	{% elif request.user.groups.first.name == 'Organizer' %}
		{% url 'organizer-dashboard' as dashboard_url %}
	{% elif request.user.groups.first.name == 'Participant' %}
		{% url 'participant-dashboard' as dashboard_url %}
	{% else %}		
		{% url 'no-permission' as dashboard_url %}	
	{% endif %}
	{% else %}
		{% url 'no-permission' as dashboard_url %}
	{% endif %}
	<main class="max-w-[1440px] min-h-screen mx-auto mt-3 p-3">
		<!-- header/nav -->
		<header class="bg-gray-100/25 rounded-md p-3"> <!-- css eqivalent = justify-content: space-between, align-items: center -->
			<nav class="flex justify-between items-center">
				<h1 class="text-2xl font-semibold">Event Management</h1>
				<div class="hidden lg:flex items-center gap-x-2">
					<!-- <a href="{% url 'organizer-dashboard' %}" class="px-3 py-1 bg-gray-400 hover:bg-gray-500 text-white font-semibold rounded-full text-sm">Dashboard</a> --> <!-- which one -->
					<a href="{{dashboard_url}}" class="px-3 py-1 bg-gray-400 hover:bg-gray-500 text-white font-semibold rounded-full text-sm">My Dashboard</a> 
					<a href="{% url 'category_list' %}" class="px-3 py-1 bg-orange-400 hover:bg-orange-500 text-white font-semibold rounded-full text-sm">All Categories</a>
					<a href="{% url 'event_list' %}" class="px-3 py-1 bg-teal-400 hover:bg-teal-500 text-white font-semibold rounded-full text-sm">All Events</a>					
				</div>
				<div class="flex justify-between items-center gap-x-2">
					{% if request.user.is_authenticated %}
						<div>
							<form method="post" action="{% url 'sign-out' %}">
								{% csrf_token %}
								<button class="block px-2 py-1 bg-blue-400 hover:bg-blue-500 text-white text-sm rounded-md">Logout</button>
							</form>
						</div>
					{% else %}
						<div class="flex gap-2">
							<a href="{% url 'sign-in' %}" class="hidden lg:block bg-blue-400 hover:bg-blue-500 text-white text-sm px-2 py-1 rounded-md">Sign In</a>
							<a href="{% url 'participant_create' %}" class="hidden lg:block bg-blue-400 hover:bg-blue-500 text-white text-sm px-2 py-1 rounded-md">Sign Up</a>
						</div>
					{% endif %}					
				</div>
				
				<div class="flex justify-between items-center gap-x-2">
					<div class="flex justify-between items-center gap-x-2">
					<!-- menu button, js in script.js -->
						<div class="lg:hidden m-2">
							<button id="menu-toggle" class="text-gray-600 hover:text-gray-800 focus:outline-none">
								<svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
								</svg>
							</button>
						</div>					
					</div>
					<button onclick="openDialog()" class="w-10 h-10 bg-gray-100/25 rounded-full">🎉</button>  <!-- celebrate button text-xs text-sm-->
				</div>						
			</nav>			
			<!-- mobile menu: change content -->
			<div id="mobile-menu" class="hidden lg:hidden mt-4 gap-2 m-2">
				<a href="{{dashboard_url}}" class="px-3 py-1 bg-gray-400 hover:bg-gray-500 text-white font-semibold rounded-full text-sm">My Dashboard</a> <!-- which dashboard -->
				<a href="{% url 'category_list' %}" class="px-3 py-1 bg-orange-400 hover:bg-orange-500 text-white font-semibold rounded-full text-sm">All Categories</a>
				<a href="{% url 'event_list' %}" class="px-3 py-1 bg-teal-400 hover:bg-teal-500 text-white font-semibold rounded-full text-sm">All Events</a>				
				<div class="flex justify-between items-center gap-2 m-2">
					{% if request.user.is_authenticated %}
						<div>
							<form method="post" action="{% url 'sign-out' %}">
								{% csrf_token %}
								<button class="block px-2 py-1 bg-blue-400 hover:bg-blue-500 text-white text-sm ">Logout</button>
							</form>
						</div>
					{% else %}
						<div class="flex gap-2">
							<a href="{% url 'sign-in' %}" class="bg-blue-400 hover:bg-blue-500 text-white text-sm px-2 py-1 rounded-md ">Sign In</a>
							<a href="{% url 'participant_create' %}" class="bg-blue-400 hover:bg-blue-500 text-white text-sm px-2 py-1 rounded-md ">Sign Up</a>
						</div>
					{% endif %}
				</div>
			</div>
		</header>
		<!-- dialog box -->
		<dialog id="dialog1" class="p-3 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 rounded-xl">			
			<div class="flex flex-col gap-2 mb-4">
				<!-- <button action="{% url 'admin:index' %}">go to admin page</button> -->	
				<a href="{% url 'admin:index' %}"><button class="bg-blue-400/25 px-2 py-1 rounded-4xl">go to admin page</button></a>
				<a href="{% url 'users-welcome-page' %}"><button class="bg-blue-400/25 px-2 py-1 rounded-4xl">go to welcome page</button></a>
			</div>
			<p>Developed by: Anup Barua</p>
			<p>country: Bangladesh</p>
			<p>email: anup30coc@gmail.com</p>			
			<button onclick="closeDialog()" class="bg-blue-400/25 px-2 py-1 rounded-4xl m-2">close</button>
		</dialog>

		<!-- messages -->
		<div class="w-1/2 mx-auto mt-8">
			{% if messages %}
				{% for message in messages %}
					<div class="message relative px-4 py-2 mb-1 rounded-md
						{% if 'success' in message.tags %}bg-green-400/25
						{% elif 'info' in message.tags %}bg-blue-400/25
						{% elif 'warning' in message.tags %}bg-amber-400/25
						{% elif 'error' in message.tags or 'danger' in message.tags %}bg-red-400/25
						{% else %}bg-gray-400/25
						{% endif %}">
						<button type="button"
							class="absolute top-1/2 -translate-y-1/2 right-3 text-xl leading-none focus:outline-none"
							aria-label="Dismiss"
							onclick="dismissMessage(this)">&times;
						</button> <!-- x button -->						
						<div class="text-center">{{ message }}</div>
					</div>			
				{% endfor %}
			{% endif %}
		</div>	
		<div class="min-h-[60vh]">
			{% block content %}
			<!-- dynamic content -->
			{% endblock %}
		</div>
		<footer class="bg-gray-100/25 text-gray-700 py-4 text-center mt-10 rounded-md">
			<p class="text-sm">&copy; 2025 Event Management App.</p>
		</footer>
	</main>	
	<script src="{% static 'javascript/script.js' %}"></script> <!-- custom javascript -->
</body>
</html>
<!-- no-permission -->
