{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-8">
  <div class="max-w-lg mx-auto bg-white shadow rounded-lg p-6">
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
    <form method="post">
      {% csrf_token %}
      <div class="space-y-4">
        {{ form.non_field_errors }}
        <div>
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.username.errors }}
        </div>
		<div>
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </div>
        <div>
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </div>
		<div>
          {{ form.phone_number.label_tag }}
          {{ form.phone_number }}
          {{ form.phone_number.errors }}
        </div>   
      </div>
      <div class="mt-6 flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Save</button>
        <a href="{% url 'participant_list' %}" class="ml-4 bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
