{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl font-bold">Participants</h1>       
  </div>

  <!-- search by name or email-->
  <form method="get" action="{% url 'participant_list' %}" class="mb-6 flex gap-2">
    <input type="text" name="q" placeholder="Search by name or email"
           value="{{ request.GET.q|default:'' }}"
           class="flex-grow border-2 border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-0 focus:border-2 focus:border-blue-300" />
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 rounded-md">
      Search
    </button>
  </form>

  {% if participants %}
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow rounded-lg">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left rounded-tl-lg">Username</th>
          <th class="px-4 py-2 text-left">Email</th>
		  <th class="px-4 py-2 text-left">Role</th>
          <th class="px-4 py-2 text-left">Events Count</th>
          <th class="px-4 py-2 text-left rounded-tr-lg">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
        <tr class="border-t border-gray-200">
          <td class="px-4 py-3">{{ participant.username }}</td>
          <td class="px-4 py-3">{{ participant.email }}</td>
		  <!-- role -->
          <td class="px-4 py-3">
            {% with role=participant.groups.first %}
              {{ role.name|default:"No Role" }}
            {% endwith %}
          </td>
          <td class="px-4 py-3">
            {% if participant.num_events is not None %}
              {{ participant.num_events }}
            {% else %}
              {{ participant.events.count }}
            {% endif %}
          </td>
          <td class="px-4 py-3 space-x-2">
            <a href="{% url 'participant_detail' participant.id %}" class="text-blue-500 text-sm hover:underline">View</a>
            <a href="{% url 'participant_update' participant.id %}" class="text-yellow-500 text-sm hover:underline">Edit User</a>
			<a href="{% url 'update_participant_role' participant.id %}" class="text-purple-500 text-sm hover:underline">Edit Role</a>              
            <a href="{% url 'participant_delete' participant.id %}" class="text-red-500 text-sm hover:underline">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-gray-600">No participants found.</p>
  {% endif %}
</div>
{% endblock %}