
/* Inter-24pt Regular */
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter24pt-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Ubuntu Regular */
@font-face {
	font-family: 'Ubuntu';			
	src: url("../fonts/Ubuntu-Regular.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Raleway Thin Italic */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ThinItalic.woff2') format('woff2');		        
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

html, body {
			margin: 0;
			padding: 0;
			min-height: 100%;
			min-width: 100%;	
			/* overflow: hidden;*/
		}	
body {
	background: url('../background/subtle_prism-gray-400.svg') no-repeat center center fixed;
	background-size: cover;
}

h1, h2, h3 {
	font-family: Raleway, sans-serif;
}

button{
			cursor: pointer;
}	

.fade-out {
	transition: opacity 0.3s ease-out;
	opacity: 0;
}

dialog {
	z-index: 10;
	background-color: rgba(208, 235, 244, 1);
	border: 1px solid lightblue;
	border-radius: 0.8rem;
}

dialog::backdrop {			
	background-color: rgba(0, 0, 0, 0.2);
}
/* Center the button horizontally */
dialog button {
	display: block;
	margin: 0 auto;
}